<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }

  a{
    background-color: #3b82f6;
    display: inline-block;
    color: white;
    margin: 2rem 0;
    padding: 0.8rem 1.5em;
    font-size: 1.2rem;
    border-radius: 1rem;
    text-decoration: none;
  }
</style>

<div class="message-content">
  <h2>Hello {{name}}!</h2>
 
  <p>We have received a password reset request for your user account.</p>
  <p>If you really requested it, click on the link below to choose a new password:</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>
  <p>If you have not made this request, please discard this email.</p>
 
  <p>Thanks!</p>
 
</div>
